<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
</head>
<body>
    <h1 th:text="${storeName}"></h1>
    <ul>
        <li th:each="car : ${cars}">
            <p th:text="${car.name} + ' | Manufacturer: ' + ${car.manufacturer}
            + ' | Price: ' + ${car.price} + ' Triệu'"></p>
        </li>
    </ul>
</body>
</html>