<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light hdd" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/employees/}">Employees</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="#">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex" th:switch="#{lang}">
                    <li class="nav-item" th:case="#{english}">
                        <a th:href="@{/employees?lang=vn}">
                            <img th:src="@{src/main/images/en.png}"/>
                        </a>
                    </li>
                    <li class="nav-item" th:case="#{vietnam}">
                        <a th:href="@{/employees?lang=en}">
                            <img th:src="@{src/main/images/en.png}"/>
                        </a>
                    </li>
                </ul>
                <form action="#" class="d-flex" method="post" th:action="@{/employees/search}"
                      th:object="${searchRequest}">
                    <input aria-label="Search" class="form-control me-2" th:field="*{keyword}"
                           th:placeholder="#{look_up}"
                           type="search">
                    <button class="btn btn-outline-success" th:text="#{search}" type="submit">Search</button>
                </form>
                <!--                <button class="btn btn-outline-success add-btn" >Add</button>-->
                <a class="btn btn-outline-success add-btn" th:href="@{/employees/add}" th:text="#{add}">Add</a>
            </div>
        </div>
    </nav>
</body>
</html>