<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <th:block th:insert="~{employee-list :: head/link}"></th:block>
</head>
<body>
    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post">
        <div style="max-width: 600px; margin: auto">
            <h5>Add new employee</h5>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="first-name">First name</label>
                        <input type="text" id="first-name" class="form-control is-valid" th:field="*{firstName}"/>
                        <span class="validationError invalid-feedback"
                              th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}">Invalidate field!</span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="last-name">Last name</label>
                        <input type="text" id="last-name" class="form-control is-valid" th:field="*{lastName}"/>
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="email-field">Email address</label>
                <input type="email" id="email-field" class="form-control is-valid" th:field="*{email}"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="passport-id">Passport ID</label>
                <input type="text" id="passport-id" class="form-control is-valid" th:field="*{passportNumber}"/>
            </div>
            <button class="btn btn-outline-success" type="submit">Save</button>
        </div>
    </form>
</body>
</html>