<!DOCTYPE html>
<html lang="en" th xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{fragments/header :: nabvbar}"></div>
    <table class="table mdd">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Passport ID</th>
            <th scope="col">Email</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <th scope="row" th:text="${employee.getId()}"></th>
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getPassportNumber()}"></td>
            <td th:text="${employee.getEmail()}"></td>
            <td>
                <a th:href="@{/employees/{id}(id=${employee.id})}"><i style="margin-right: 12px" class="far fa-eye"></i></a>
                <i th:href="@{/employees/}" style="margin-right: 12px" class="fas fa-user-edit"></i>
                <a th:href="@{/employees/delete/{id}(id=${employee.id})}"><i style="margin-right: 12px"
                                                                             class="fas fa-user-slash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/footer :: pagination}"></div>
</body>
</html>